
@{
    ViewBag.Title = "ThongBaoThanhCong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <!--jquery Datepicker -->
    <link rel="stylesheet" href="~/DatePicker/themes/jquery-ui.css">
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/DatePicker/jquery-ui.js"></script>
    <script src="~/DatePicker/jquery.ui.datepicker-vi.js"></script>
    <script type="text/javascript">
      $(function() {
            $( "#datepicker" ).datepicker( $.datepicker.regional[ "vi" ] );
       });
    </script>

    <!-- custom scroll -->

    <link href="~/jQuery/custom-scrollbar/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />
    <style>
        .content {
            width: 220px;
            height: 220px;
            overflow: auto;
            background: #FFFFFF;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            border-radius: 3px;
        }
    </style>
    <script src="~/jQuery/custom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script>
    (function ($) {
        $(window).load(function () {
            $("#content_2").mCustomScrollbar({
                scrollButtons: {
                    enable: true
                },
                theme: "dark-thick"
            });
        });
    })(jQuery);
    /*theme:"light" /*"light", "dark", "light-2", "dark-2", "light-thick", "dark-thick", "light-thin", "dark-thin" */
    </script>
}
<section id="mainContainer">
    <!--start sidebar1-->
    <aside id="sidebar1">
        <div class="subsidebar">
            <!--Mục 1-->
            @Html.Action("_SanPhamMoiPartial","Home")
        </div>
        <div class="subsidebar">
            <!--Mục 2-->
            @Html.Partial("_HoTroTrucTuyenPartial")
        </div>
        <div class="subsidebar">
            <!--Mục 3-->
            @Html.Partial("_ThongKePartial")
        </div>
    </aside>
    <section id="content" style="text-align:center;margin-top:50px">
        <img src="~/images/register-success.png" />
        <h2>Đăng ký thành công.</h2>
        <h1>Chúc bạn mua sắm vui vẻ tại Shop Thiên Thanh.</h1>
    </section>
    <aside id="sidebar2">
        @Html.Partial("_GioHangPartial")
        @Html.Action("_TinThoiTrangPartial", "Home")
    </aside>
</section>